{
    "telegram_token": "YOUR TOKEN ACQUIRED FROM https://t.me/@botfather",
    "plugins": ["hello"],
    "plugin_config":{
        "hello":{
            "text":"Hello, world from config"
        }
    },
    "debug": true,
    "database":"db.sqlite",
    "database_autocommit":true
}
